.contain {
  min-height: calc(100vh - 180px);
  width: 1240px;
  margin: 85px auto 0 auto;
}

.contain .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contain .list a {
  text-decoration: none;
}

.contain .list .productCard {
  margin: 1.5vh 0vw;
  width: 300px;
  position: relative;
}

.contain .list .previewbox {
  z-index: 999;
}

.contain .list .previewbox .dialogBg {
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  position: fixed;
  background: #8c8c8c75;
}

.contain .list .previewbox .dialog {
  position: fixed;
  left: 50%;
  top: 45%;
  padding: 5vh 1vw 2vh 1vw;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  -webkit-box-shadow: 6px 6px 15px #5656563d;
          box-shadow: 6px 6px 15px #5656563d;
  z-index: 1200;
}

.contain .list .previewbox .dialog > i {
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
  padding: 5px 8px;
  font-size: 1.2em;
  border-radius: 100%;
  color: #444444;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contain .list .previewbox .dialog > i:hover {
  background: #eeeeee;
}

.contain .menu {
  margin-top: 3vh;
}

.contain .menu ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contain .menu ul li {
  list-style: none;
  padding: 2px 1vw;
  font-size: 1.1em;
  margin: 0.5vh 0px;
  border: 1px solid #4688ff;
  color: #4688ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 140px;
  text-align: center;
  letter-spacing: 1.2px;
  font-weight: 300;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, white), color-stop(50%, #88c8ff), to(#88c8ff));
  background: linear-gradient(to left, white 50%, #88c8ff 50%, #88c8ff 100%);
  background-size: 200%;
  background-position: 100%;
  cursor: pointer;
}

.contain .menu ul li.active {
  background-position: 0%;
  color: white;
}

@media all and (max-width: 767px) {
  .contain {
    width: 100%;
    max-width: 675px;
  }
  .contain .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contain .list .productCard {
    margin: 1vh 1vw;
    width: 300px;
  }
  .contain .list .previewbox .dialog {
    width: 95%;
    top: 55%;
  }
  .contain .menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contain .menu ul li {
    width: 45%;
    margin: 1vh 1vw;
    max-width: 300px;
  }
}

@media all and (max-width: 1259px) and (min-width: 768px) {
  .contain {
    width: 90%;
    max-width: 1024px;
  }
  .contain .list .productCard {
    width: 300px;
    margin: 1vh 1vw;
  }
  .contain .menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contain .menu ul li {
    width: 23%;
  }
}
/*# sourceMappingURL=categorylist.css.map */