.checkcontent {
  padding: 80px 0;
  width: 800px;
  margin: 1vh auto;
  min-height: calc(99vh - 100px);
}

.checkcontent h2 {
  text-align: center;
  margin: 5vh 0 0 0;
  font-size: 2em;
  font-weight: 600;
  color: #2a2a2a;
  letter-spacing: 1.5px;
}

.checkcontent table.ordertable {
  margin: 2vh 0 3vh 0;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.checkcontent table.ordertable tr th {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  padding: 5px 0;
  color: white;
  background: #96c7ff;
}

.checkcontent table.ordertable tr td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #96c7ff;
}

.checkcontent table.ordertable tr td:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.checkcontent table.ordertable tr td:first-child img {
  width: 150px;
}

.checkcontent table.ordertable tr td:first-child p {
  text-align: left;
  padding: 0 5px;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  font-weight: 300;
  color: #3d3d3d;
}

.checkcontent table.ordertable tr td button.deleteCart {
  outline: none;
  background: #ff6262;
  border: none;
  color: white;
  padding: 3px 8px;
  letter-spacing: 2px;
  font-weight: 300;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 2px 2px 0 #c77474;
          box-shadow: 2px 2px 0 #c77474;
}

.checkcontent table.ordertable tr td button.deleteCart:hover {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  background: #ff7e7e;
}

.checkcontent table.userinfo {
  margin: 2vh 0 3vh 0;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #96c7ff;
  padding: 1vh 1vw;
}

.checkcontent table.userinfo tr th {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  padding: 5px 0;
  color: white;
  background: #96c7ff;
}

.checkcontent table.userinfo tr td {
  letter-spacing: 1.5px;
  font-size: 1.1em;
  padding: 10px 5px;
  border-bottom: 1px solid #96c7ff;
}

.checkcontent table.userinfo tr td:last-child {
  text-align: left;
}

.checkcontent a {
  text-decoration: none;
}

.checkcontent button {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: none;
  padding: 5px 0;
  letter-spacing: 1px;
  font-size: 1.2em;
  background: #96c7ff;
  -webkit-box-shadow: 3px 3px 0 #86aab5;
          box-shadow: 3px 3px 0 #86aab5;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkcontent button:hover {
  background: #b8d9ff;
  -webkit-box-shadow: 3px 3px 0 transparent;
          box-shadow: 3px 3px 0 transparent;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media all and (max-width: 767px) {
  .checkcontent {
    width: 98%;
    max-width: 675px;
  }
  .checkcontent table tr td:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .checkcontent table tr td:first-child img {
    width: 120px;
  }
  .checkcontent table tr td:first-child p {
    font-size: 1em;
  }
  .checkcontent button {
    width: 95%;
    margin: 1vh auto;
  }
}

@media all and (max-width: 1259px) and (min-width: 768px) {
  .checkcontent {
    width: 98%;
    max-width: 800px;
  }
  .checkcontent table tr th {
    width: 40%;
  }
  .checkcontent table tr td:first-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=checkout.css.map */