.contain {
  min-height: calc(100vh - 180px);
  width: 1240px;
  margin: 85px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contain > p {
  margin: 3vh 0;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0.5vh 0;
  border-bottom: 1px solid #0082de;
  color: #0082de;
  text-align: center;
  width: 100%;
}

.contain .newproduct {
  margin: 2vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contain .newproduct a {
  text-decoration: none;
  color: #3a3a3a;
  width: 32%;
}

.contain .newproduct section .imgbox {
  overflow: hidden;
  cursor: pointer;
}

.contain .newproduct section .imgbox img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contain .newproduct section .imgbox:hover img {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contain .newproduct section p {
  margin-top: 1vh;
  letter-spacing: 1.5px;
  padding: 0 10px;
  line-height: 1.2;
  font-size: 1em;
  font-weight: 300;
  border-left: 5px solid #0082de;
}

.contain .newproduct section p span {
  font-size: 1.5em;
  font-weight: 400;
  color: #001f75;
}

.contain .category_card {
  margin: 1vh 0vw;
  position: relative;
  cursor: pointer;
}

.contain .category_card a {
  text-decoration: none;
}

.contain .category_card a:hover > p {
  color: #3b71c3;
}

.contain .category_card a:hover .imgbox img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contain .category_card a .imgbox {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
}

.contain .category_card a .imgbox img {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  height: 100%;
}

.contain .category_card a > p {
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.3em;
  color: #545454;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media all and (max-width: 767px) {
  .contain {
    width: 100%;
    max-width: 675px;
  }
  .contain .category_card {
    width: 50%;
  }
  .contain .category_card:hover .imgbox img {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .contain .category_card a .imgbox {
    margin: 0 auto;
    border-radius: 0%;
    overflow: hidden;
  }
  .contain .newproduct {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contain .newproduct a {
    width: 95%;
  }
}

@media all and (max-width: 1259px) and (min-width: 768px) {
  .contain {
    width: 90%;
  }
  .contain .category_card {
    width: 25%;
  }
  .contain .category_card a .imgbox {
    margin: 0 auto;
  }
  .contain .newproduct {
    padding: 0 1vw;
  }
  .contain .newproduct section p span {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=index.css.map */