.contain {
  width: 1240px;
  min-height: calc(100vh - 180px);
  margin: 90px auto 0 auto;
}

.contain .breadcrumbs {
  padding: 0.5vh 0;
  border-bottom: 1px solid #dcdcdc;
  color: #a9a9a9;
}

.contain .breadcrumbs a {
  color: #717171;
  font-size: 1.1em;
  letter-spacing: 1.2px;
}

.contain .breadcrumbs a.disabled {
  pointer-events: none;
}

.contain .contents {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contain .contents .phoneimg {
  display: none;
}

.contain .contents .maybelove {
  margin: 5vh 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contain .contents .maybelove > h2 {
  width: 100%;
  background: #d7edfa;
  text-align: center;
  padding: 1vh 0;
  color: #5386b3;
  border-top: 2px solid #92cdff;
}

.contain .contents .left {
  width: 70%;
  padding: 1vh 0vw;
}

.contain .contents .left table {
  width: 100%;
}

.contain .contents .left table tr td {
  padding: 1vh 1vw;
  letter-spacing: 2px;
  font-size: 1.2em;
  font-weight: 300;
  color: #3b3b3b;
  text-align: center;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.contain .contents .left table tr td span {
  font-size: 0.7em;
}

.contain .contents .left table tr td:first-child {
  border-left: 1px solid #dcdcdc;
}

.contain .contents .left table tr:first-child td {
  border-top: 1px solid #dcdcdc;
}

.contain .contents .left .imgbox {
  text-align: center;
  padding: 10px;
  border: 1px solid #d8d8d8;
}

.contain .contents .left .imgbox > img {
  width: 100%;
}

.contain .contents .left p.info {
  margin: 2vh 0;
  letter-spacing: 2px;
  font-size: 1.1em;
  font-weight: 300;
  padding: 0 1vw;
}

.contain .contents .left p.disc {
  margin: 2vh 0;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1.6em;
  font-weight: 500;
  color: #378df7;
}

.contain .contents .left p.disc span {
  border-bottom: 2px solid #378df7;
}

.contain .contents .left h4 {
  font-weight: 300;
  font-size: 1.4em;
  margin-top: 5vh;
}

.contain .contents .left p.cont {
  font-size: 1.2em;
  padding: 0 1vw;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.contain .contents .left p.cont span {
  font-size: 0.8em;
}

.contain .contents .right {
  padding: 3vh 1vw;
  width: 30%;
}

.contain .contents .right h2 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.contain .contents .right h3 {
  font-size: 1.1em;
  letter-spacing: 1.5px;
  font-weight: 300;
}

.contain .contents .right .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2vh 0 0 0;
}

.contain .contents .right h6 {
  margin: 0 1vw;
  font-size: 1em;
  font-weight: 400;
  text-decoration: line-through;
  color: #797979;
}

.contain .contents .right h4 {
  font-weight: 400;
  color: black;
  font-size: 1em;
  margin: 0;
}

.contain .contents .right h4 span {
  font-weight: 600;
  font-size: 2.3em;
}

.contain .contents .right .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contain .contents .right .flexbox .phoneselect {
  visibility: hidden;
}

.contain .contents .right .flexbox h5 {
  margin: 0 10px 0 0;
  font-weight: 300;
  cursor: default;
  letter-spacing: 1.2px;
}

.contain .contents .right .flexbox .selectCount {
  margin: 3vh 0;
  border: 1px solid #bbbbbb;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contain .contents .right .flexbox .selectCount span {
  padding: 0 10px;
}

.contain .contents .right .flexbox .selectCount button {
  outline: none;
}

.contain .contents .right .flexbox .selectCount button:hover {
  background: #acacac;
}

.contain .contents .right .flexbox .selectCount button:nth-of-type(1) {
  border: none;
  border-right: 1px solid #cccccc;
  padding: 0 10px;
}

.contain .contents .right .flexbox .selectCount button:nth-of-type(2) {
  border: none;
  border-left: 1px solid #cccccc;
  padding: 0 10px;
}

.contain .contents .right h4.calc {
  text-align: right;
  margin: 0.5vh 0;
  font-weight: 300;
  color: #989898;
  letter-spacing: 1.5px;
}

.contain .contents .right button.cart {
  outline: none;
  width: 100%;
  text-align: center;
  display: block;
  border: none;
  letter-spacing: 1.5px;
  background: #58bbff;
  color: #fff;
  padding: 1vh 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contain .contents .right button.cart:hover {
  background: #85ceff;
}

.contain .contents .right button.enabled {
  cursor: default;
  background: #616161;
}

.contain .contents .right button.enabled:hover {
  background: #616161;
}

.contain .contents .previewbox {
  z-index: 999;
}

.contain .contents .previewbox .dialogBg {
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  position: fixed;
  background: #8c8c8c75;
}

.contain .contents .previewbox .dialog {
  position: fixed;
  left: 50%;
  top: 45%;
  padding: 5vh 1vw 2vh 1vw;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  -webkit-box-shadow: 6px 6px 15px #5656563d;
          box-shadow: 6px 6px 15px #5656563d;
  z-index: 1200;
}

.contain .contents .previewbox .dialog > i {
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
  padding: 5px 8px;
  font-size: 1.2em;
  border-radius: 100%;
  color: #444444;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contain .contents .previewbox .dialog > i:hover {
  background: #eeeeee;
}

@media all and (max-width: 1259px) {
  .contain {
    width: 100%;
    max-width: 675px;
  }
  .contain .contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contain .contents .maybelove {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .contain .contents .phoneimg {
    display: block;
  }
  .contain .contents .phoneimg img {
    width: 100%;
  }
  .contain .contents .previewbox .dialog {
    width: 95%;
    top: 55%;
    max-width: 400px;
  }
  .contain .contents .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 98%;
    margin: 0 auto;
  }
  .contain .contents .left .imgbox {
    display: none;
  }
  .contain .contents .right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .contain .contents .right .flexbox {
    margin: 2vh 0;
  }
  .contain .contents .right .flexbox .selectCount {
    display: none;
  }
  .contain .contents .right .flexbox .phoneselect {
    visibility: visible;
  }
  .contain .contents .right .flexbox .phoneselect select {
    width: 100px;
  }
}
/*# sourceMappingURL=productInfo.css.map */