@import "../utils/_variables";

a {
  &:hover {
    text-decoration: none !important;
  }
}

li.nav-item a.nav-link {
  color          : #235298 !important;
  text-decoration: none;
  font-weight    : 400;
  transition     : 0.3s;

  &:hover {
    background: #bbe0ffa3;
  }
}

li.nav-item .active {
  background: #ffffffa3;
}

nav {
  background: #ddeeff;

  >a {
    color    : #052775e6;
    padding  : 0 10px 0 0;
    font-size: 1.2em;
  }
}