.checkcontent {
  padding   : 80px 0;
  width     : 800px;
  margin    : 1vh auto;
  min-height: calc(99vh - 100px);

  h2 {
    margin        : 5vh 0 1vh 0;
    text-align    : center;
    letter-spacing: 2px;
    font-size     : 2.2em;
    font-weight   : 500;
    color         : #a8dcff;

    span {
      font-size: 1.4em;
    }

  }

  table.ordertable {
    margin         : 2vh 0 3vh 0;
    border-collapse: separate;
    border-spacing : 0;
    width          : 100%;
  }

  table.ordertable tr th {
    text-align : center;
    font-size  : 1.2em;
    font-weight: 500;
    padding    : 5px 0;
    color      : white;
    background : #0082de;
  }

  table.ordertable tr td {
    text-align   : center;
    padding      : 10px 0;
    border-bottom: 1px solid #0082de;
  }

  table.ordertable tr td:first-child {
    display        : flex;
    align-items    : flex-start;
    justify-content: left;

    img {
      width: 150px;
    }

    p {
      text-align    : left;
      padding       : 0 5px;
      font-size     : 1.2em;
      letter-spacing: 1.5px;
      font-weight   : 300;
      color         : rgb(61, 61, 61);
    }
  }

  table.ordertable tr td button.deleteCart {
    outline       : none;
    background    : #ff6262;
    border        : none;
    color         : white;
    padding       : 3px 8px;
    letter-spacing: 2px;
    font-weight   : 300;
    border-radius : 5px;
    transition    : 0.3s;
    box-shadow    : 2px 2px 0 #c77474;

    &:hover {
      transform : translate(2px, 2px);
      background: #ff7e7e;
    }
  }

  table.userinfo {
    margin         : 2vh 0 3vh 0;
    border-collapse: separate;
    border-spacing : 0;
    width          : 100%;
    border         : 1px solid #96c7ff;
    padding        : 1vh 1vw;

    tr th {
      text-align : center;
      font-size  : 1.2em;
      font-weight: 500;
      padding    : 5px 0;
      color      : white;
      background : rgb(150, 199, 255);
    }

    tr td {
      letter-spacing: 1.5px;
      font-size     : 1.1em;
      padding       : 10px 5px;
      border-bottom : 1px solid rgb(150, 199, 255);

      &:last-child {
        text-align: left;
      }
    }
  }

  a {
    text-decoration: none;
  }

  button {
    display       : block;
    width         : 100%;
    max-width     : 400px;
    margin        : 0 auto;
    border        : none;
    padding       : 5px 0;
    letter-spacing: 1px;
    font-size     : 1.2em;
    background    : #96c7ff;
    box-shadow    : 3px 3px 0 #86aab5;
    color         : white;
    transition    : 0.3s;

    &:hover {
      background: #b8d9ff;
      box-shadow: 3px 3px 0 transparent;
      transform : translate(2px, 2px);
    }
  }
}

@media all and (max-width: 767px) {
  .checkcontent {
    width    : 98%;
    max-width: 675px;

    table tr td:first-child {
      flex-direction: column;

      img {
        width: 120px;
      }

      p {
        font-size: 1em;
      }
    }

    button {
      width : 95%;
      margin: 1vh auto;
    }
  }
}

@media all and (max-width: 1259px) and (min-width: 768px) {
  .checkcontent {
    width    : 98%;
    max-width: 800px;

    table tr th {
      width: 40%;
    }

    table tr td:first-child {
      flex-wrap: wrap;
    }
  }
}