.contain {
    width: 1240px;
    margin: 85px auto 0 auto;
    min-height:calc(100vh - 180px);
  }
  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      text-decoration: none;
    }
    > h2 {
      width: 100%;
      margin: 2vh 0;
      font-weight: 600;
      text-align: center;
      color: #ff8585;
      letter-spacing: 1.5px;
      font-size: 2.5em;
    }
    .productCard {
      margin: 1.5vh 0vw;
      width: 300px;
      position: relative;
    }
    .empty {
      margin-top: 5vh;
      width: 100%;
      text-align: center;
    }
    .empty img {
      width: 800px;
    }
    .empty h3 {
      font-weight: 600;
      font-size: 1.6em;
      span {
        padding: 0 10px;
        border: 3px solid black;
      }
    }
    .empty p {
      margin: 2vh 0;
      font-weight: 400;
      letter-spacing: 1.5px;
      font-size: 1.2em;
      span {
        padding: 0 1vw;
        border-bottom: 1px solid black;
      }
    }
  
    .previewbox {
      z-index: 999;
    }
    .previewbox .dialogBg {
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      z-index: 99;
      position: fixed;
      background: #8c8c8c75;
    }
    .previewbox .dialog {
      position: fixed;
      left: 50%;
      top: 45%;
      padding: 5vh 1vw 2vh 1vw;
      border-radius: 5px;
      transform: translate(-50%, -50%);
      width: 400px;
      background: white;
      box-shadow: 6px 6px 15px #5656563d;
      z-index: 1200;
    }
    .previewbox .dialog > i {
      position: absolute;
      right: 2%;
      top: 2%;
      cursor: pointer;
      padding: 5px 8px;
      font-size: 1.2em;
      border-radius: 100%;
      color: rgb(68, 68, 68);
      transition: 0.3s;
      &:hover {
        background: rgb(238, 238, 238);
      }
    }
  }
  
  @media all and (max-width: 767px) {
    .contain {
      width: 100%;
      max-width: 675px;
      .list {
        justify-content: center;
      }
      .list .productCard {
        width: 300px;
        margin: 1vh 1vw;
      }
      .list .previewbox .dialog {
        width: 95%;
        top: 55%;
      }
      .list .empty img {
        width: 100%;
      }
    }
  }
  
  @media all and (max-width: 1259px) and (min-width: 768px) {
    .contain {
      width: 90%;
      max-width: 1024px;
      .list .empty img {
        width: 100%;
      }
    }
  }