footer {
  width     : 100%;
  height    : 100px;
  padding   : 10px 0 5px 0;
  background: #d4edff;

  .contain {
    width          : 1240px;
    height         : 100%;
    margin         : 0 auto;
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    .left {
      h2 {
        font-weight: 600;
        font-size  : 1.5em;
        color      : #568bb1;
        margin     : 0;
      }

      .link {
        a {
          font-size: 1.8em;
          color    : #568bb1;

          i {
            margin-right: 10px;
          }
        }
      }
    }

    h3.copyright {
      letter-spacing: 1.5px;
      color         : #568bb1;
      font-weight   : 300;
      font-size     : 1.1em;
    }

    .right {
      p {
        text-align    : right;
        margin        : 0;
        letter-spacing: 1.5px;
        color         : #568bb1;
      }
    }
  }
}

@media all and (max-width: 767px) {
  footer {
    height : auto;
    padding: 3vh 0;

    .contain {
      width         : 100%;
      flex-direction: column;
      text-align    : center;

      h3.copyright {
        margin: 3vh 0;
      }

      .right {
        p {
          text-align: center;
        }
      }
    }
  }
}

@media all and (max-width: 1259px) and (min-width: 768px) {
  footer {
    .contain {
      width: 90%;
    }
  }
}