.dialogContent {
  height         : 100%;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;

  img {
    width: 100%;
  }

  .contents {
    width: 100%;

    h2 {
      font-size: 1.5em;
      margin   : 1vh 0;
    }

    h3 {
      font-size     : 1.2em;
      letter-spacing: 1.5px;
      margin        : 1vh 0 0 0;

      span {
        font-size  : 1.4em;
        color      : red;
        font-weight: 500;
      }
    }

    h4 {
      margin         : 0.5vh 0;
      font-weight    : 400;
      font-size      : 1.1em;
      letter-spacing : 1.5px;
      color          : rgb(160, 160, 160);
      text-decoration: line-through;
    }

    h5 {
      font-size: 1.6em;

      span {
        font-size  : 1.2em;
        font-weight: 600;
        color      : red;
      }
    }

    p {
      padding       : 5px;
      border        : 1px solid rgb(192, 192, 192);
      border-radius : 5px;
      letter-spacing: 1.5px;
      font-weight   : 300;
    }

    a {
      display        : block;
      width          : 100px;
      margin         : 0 auto;
      text-align     : center;
      text-decoration: none;
      outline        : none;
      background     : rgb(117, 170, 255);
      color          : white;
      display        : block;
      font-size      : 1.1em;
      letter-spacing : 1.5px;
      padding        : 0.5vh 0;
      border-radius  : 5px;
      width          : 100px;
      transition     : 0.3s;
      border         : none;

      &:hover {
        background: rgb(141, 185, 255);
      }
    }
  }
}

@media all and (max-width: 767px) {
  .dialogContent {
    img {
      width: 95%;
    }

    h2 {
      font-size : 1.8em;
      margin    : 1vh 2vw;
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    h4 {
      text-align: center;
    }

    .contents {
      p {
        margin: 2vh 2vw;
      }
    }
  }
}