.cartcontent {
  min-height: calc(99vh - 100px);
  padding   : 80px 0;
  width     : 1240px;
  margin    : 1vh auto;

  >h2 {
    margin        : 5vh 0 1vh 0;
    text-align    : center;
    letter-spacing: 2px;
    font-size     : 2.2em;
    font-weight   : 500;
    color         : #0c6eb3;

    span {
      font-size: 1.4em;
    }

  }

  >table {
    margin         : 2vh 0 3vh 0;
    border-collapse: separate;
    border-spacing : 0;
    width          : 100%;

    tr th {
      text-align : center;
      font-size  : 1.2em;
      font-weight: 500;
      padding    : 5px 0;
      color      : white;
      background : #0c6eb3;
    }

    tr td {
      text-align   : center;
      padding      : 10px 0;
      border-bottom: 1px solid #0c6eb3;
    }

    tr td:first-child {
      display        : flex;
      align-items    : flex-start;
      justify-content: left;

      img {
        width: 150px;
      }

      p {
        text-align    : left;
        padding       : 0 5px;
        font-size     : 1.2em;
        letter-spacing: 1.5px;
        font-weight   : 300;
        margin        : auto 0;
        color         : rgb(61, 61, 61);
      }
    }

    tr td button.deleteCart {
      outline       : none;
      background    : #ff6262;
      border        : none;
      color         : white;
      padding       : 3px 8px;
      letter-spacing: 2px;
      font-weight   : 300;
      border-radius : 5px;
      transition    : 0.3s;
      box-shadow    : 2px 2px 0 #c77474;

      &:hover {
        transform : translate(2px, 2px);
        background: #ff7e7e;
      }
    }

    tr td a {
      text-decoration: none;
      font-size      : 1.2em;
      color          : #05519e;
      font-weight    : 500;
      line-height    : 2;
      border-bottom  : 1px solid #05519e;
      ;

      &:hover {
        color: #2881da;
      }
    }

    tr td .selectCount {
      margin: 3vh auto;
      border: 1px solid #bbbbbb;
      width : fit-content;
    }

    tr td .selectCount span {
      padding: 0 10px;
    }

    tr td .selectCount button {
      outline: none;

      &:hover {
        background: rgb(172, 172, 172);
      }
    }

    tr td .selectCount button:nth-of-type(1) {
      border      : none;
      border-right: 1px solid #cccccc;
      padding     : 0 10px;
    }

    tr td .selectCount button:nth-of-type(2) {
      border     : none;
      border-left: 1px solid #cccccc;
      padding    : 0 10px;
    }

    tr td .phoneselect {
      display: none;
    }
  }





  .form {
    display        : flex;
    justify-content: center;
    align-items    : flex-start;
    flex-wrap      : wrap;
    width          : 600px;
    margin         : 0 auto;

    .inputbox {
      margin: 1vh 1vw;
      flex  : 1;
    }

    .inputbox .textbox {
      margin: 2vh 0;
    }

    .inputbox input {
      padding      : 5px;
      border-radius: 5px;
      transition   : 0.3s;
      border       : 1px solid #d8d8d8;
    }

    button {
      margin-top: 1.5vh;
      display   : block;
      width     : 100%;
      border    : none;
      background: #96c7ff;
      color     : white;
      padding   : 5px 0;
      width     : 95%;
      transition: 0.3s;

      &:hover {
        background: #a8d0ff;
        transform : translate(2px, 2px);
      }

      &[disabled] {
        box-shadow: none;
        background: gray;
      }

      &[disabled]:hover {
        transform: none;
      }
    }
  }

  .couponDialog {
    position: fixed;
    width   : 100%;
    top     : 0;
    left    : 0;
    z-index : 1002;
    height  : 100%;
  }

  .couponDialog .bg {
    width     : 100%;
    height    : 100%;
    background: #8c8c8c75;
  }

  .couponDialog .dialog {
    position     : absolute;
    width        : 500px;
    border-radius: 10px;
    padding      : 1vh 1vw;
    box-shadow   : 6px 6px 15px #5656563d;
    background   : white;
    height       : 400px;
    left         : 50%;
    top          : 50%;
    transform    : translate(-50%, -50%);
  }

  .couponDialog .dialog a {
    display: block;
  }

  .couponDialog .dialog h2 {
    text-align    : center;
    letter-spacing: 1.5px;
    font-size     : 1.5em;
    margin        : 1vh 0;
  }

  .couponDialog .dialog .flb {
    display        : flex;
    justify-content: center;
  }

  .couponDialog .dialog .flb input {
    padding      : 5px;
    border-radius: 5px;
    border       : 1px solid #d8d8d8;
  }

  .couponDialog .dialog .flb button {
    margin        : 0 10px;
    outline       : none;
    background    : #0c6eb3;
    border        : none;
    color         : white;
    padding       : 3px 8px;
    letter-spacing: 2px;
    font-weight   : 300;
    border-radius : 5px;
    transition    : 0.3s;
    box-shadow    : 2px 2px 0 #abd7ff;

    &:hover {
      transform: translate(2px, 2px);
    }
  }

  .couponDialog .dialog table {
    width          : 100%;
    border-collapse: separate;
    border-spacing : 0;
    margin-top     : 2vh;

    tr td {
      padding      : 3px 0;
      text-align   : center;
      color        : #5d5d5d;
      font-weight  : 300;
      font-size    : 1.1em;
      border-bottom: 1px solid #0c6eb3;
      border-right : 1px solid #0c6eb3;

      &:first-child {
        border-left: 1px solid #0c6eb3;
      }
    }

    tr:first-child td {
      background: #0c6eb3;
      color     : white;
      border-top: 1px solid #0c6eb3;
    }

    tr:nth-child(n+2) td:last-child button {

      margin        : 0 10px;
      outline       : none;
      background    : #0c6eb3;
      border        : none;
      color         : white;
      padding       : 2px 5px;
      font-size     : 0.8em;
      letter-spacing: 2px;
      font-weight   : 300;
      border-radius : 5px;
      transition    : 0.3s;
      box-shadow    : 0px 2px 0 #abd7ff;

      &:hover {
        background: rgb(158, 194, 235);
        box-shadow: 0px 0px 0 transparent;
        transform : translate(0px, 1px);
      }
    }
  }

  .couponDialog .dialog .sale {
    p {
      margin         : 1vh 0;
      text-align     : center;
      font-size      : 1em;
      color          : rgb(93, 93, 93);
      text-decoration: line-through;
    }

    h3 {
      text-align : center;
      font-size  : 1.4em;
      font-weight: 500;
      margin     : 0;
      color      : red;
    }
  }

  .couponDialog .dialog .ischeckout {
    display        : flex;
    justify-content: center;
  }

  .couponDialog .dialog .ischeckout .btnbox {
    margin-top: 1.5vh;
    width     : 50%;

    button {
      width         : 100%;
      outline       : none;
      border        : none;
      padding       : 5px 0;
      background    : #5dbcff;
      color         : white;
      letter-spacing: 1.5px;
      font-size     : 1.1em;
      transition    : 0.3s;

      &:hover {
        background: #a8d1ff;
      }

    }

    &:last-child button {
      background: #ff9696;

      &:hover {
        background: #ff8686;
      }
    }
  }

  .couponDialog .dialog .btnbox>p.nosale {
    text-align    : center;
    letter-spacing: 1.5px;
    color         : rgb(121, 121, 121);
  }
}

@media all and (max-width: 767px) {
  .cartcontent {
    width: 98%;

    table tr td:first-child {
      flex-direction: column;

      img {
        width: 90%;
      }

      p {
        font-size: 1em;
      }
    }

    table .selectCount {
      display: none;
    }

    table .phoneselect {
      display: block !important;
    }

    table .phoneselect select {
      width: 90%;
    }

    .couponDialog .dialog {
      width: 95%;

      .flb input {
        flex: 4;
      }

      .flb button {
        flex: 1;
      }
    }

    .form {
      width: 100%;
    }
  }
}

@media all and (max-width: 1259px) and (min-width: 768px) {
  .cartcontent {
    width: 98%;

    table tr td:first-child {
      align-items   : center;
      flex-direction: column;
    }

    .couponDialog .flb {
      input {
        flex: 4;
      }

      button {
        flex: 1;
      }
    }
  }
}