.contain {
  min-height: calc(100vh - 180px);
  width     : 1240px;
  margin    : 85px auto 0 auto;

  >h2 {
    margin        : 5vh 0 1vh 0;
    text-align    : left;
    letter-spacing: 2px;
    font-size     : 2.2em;
    font-weight   : 500;
    color         : #0c6eb3;

    span {
      font-size: 1.4em;
    }

  }

  .list {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
  }

  .list a {
    text-decoration: none;
  }

  .list .productCard {
    margin  : 1.5vh 0vw;
    width   : 300px;
    position: relative;
  }

  .list .previewbox {
    z-index: 999;
  }

  .list .previewbox .dialogBg {
    left      : 0;
    top       : 0;
    height    : 100vh;
    width     : 100%;
    z-index   : 99;
    position  : fixed;
    background: #8c8c8c75;
  }

  .list .previewbox .dialog {
    position     : fixed;
    left         : 50%;
    top          : 45%;
    padding      : 5vh 1vw 2vh 1vw;
    border-radius: 5px;
    transform    : translate(-50%, -50%);
    width        : 400px;
    background   : white;
    box-shadow   : 6px 6px 15px #5656563d;
    z-index      : 1200;
  }

  .list .previewbox .dialog>i {
    position     : absolute;
    right        : 2%;
    top          : 2%;
    cursor       : pointer;
    padding      : 5px 8px;
    font-size    : 1.2em;
    border-radius: 100%;
    color        : rgb(68, 68, 68);
    transition   : 0.3s;

    &:hover {
      background: rgb(238, 238, 238);
    }
  }

  .menu {
    margin-top: 3vh;
  }

  .menu ul {
    padding        : 0;
    display        : flex;
    justify-content: space-between;
  }

  .menu ul li {
    list-style    : none;
    padding       : 2px 1vw;
    font-size     : 1.1em;
    margin        : 0.5vh 0px;
    border        : 1px solid #0c6eb3;
    color         : #0c6eb3;
    transition    : 0.3s;
    width         : 140px;
    text-align    : center;
    letter-spacing: 1.2px;
    font-weight   : 300;
    background    : linear-gradient(to left,
        rgb(255, 255, 255) 50%,
        #0c6eb3 50%,
        #0c6eb3 100%);
    background-size    : 200%;
    background-position: 100%;
    cursor             : pointer;

    &.active {
      background-position: 0%;
      color              : white;
    }
  }
}

@media all and (max-width: 767px) {
  .contain {
    width    : 100%;
    max-width: 675px;

    .list {
      justify-content: center;
    }

    .list .productCard {
      margin: 1vh 1vw;
      width : 300px;
    }

    .list .previewbox {
      .dialog {
        width: 95%;
        top  : 55%;
      }
    }

    .menu ul {
      flex-wrap      : wrap;
      justify-content: center;

      li {
        width    : 45%;
        margin   : 1vh 1vw;
        max-width: 300px;
      }
    }
  }
}

@media all and (max-width: 1259px) and (min-width: 768px) {
  .contain {
    width    : 90%;
    max-width: 1024px;

    .list .productCard {
      width : 300px;
      margin: 1vh 1vw;
    }

    .menu ul {
      flex-wrap: wrap;
    }

    .menu ul li {
      width: 23%;
    }
  }
}