@import "../utils/variables";

.checkcontent {
  padding   : 80px 0;
  width     : $width_sm;
  margin    : 1vh auto;
  min-height: calc(99vh - 100px);

  h2 {
    margin        : 5vh 0 1vh 0;
    text-align    : center;
    letter-spacing: 2px;
    font-size     : 2.2em;
    font-weight   : 500;
    color         : $text_primary;

    span {
      font-size: 1.4em;
    }

  }

  table.ordertable {
    margin: 2vh 0 3vh 0;
    width : 100%;
  }

  table.ordertable tr th {
    text-align : center;
    font-size  : 1.2em;
    font-weight: 500;
    padding    : 5px 0;
    color      : white;
    background : $text_primary;
  }

  table.ordertable tr td {
    text-align   : center;
    padding      : 10px 0;
    border-bottom: 1px solid $text_primary;
  }

  table.ordertable tr td:first-child {
    display        : flex;
    align-items    : flex-start;
    justify-content: left;

    img {
      width: 150px;
    }

    p {
      text-align    : left;
      padding       : 0 5px;
      font-size     : 1.2em;
      letter-spacing: 1.5px;
      font-weight   : 300;
      margin        : auto 0;
      color         : rgb(61, 61, 61);
    }
  }

  table.ordertable tr td button.deleteCart {
    outline       : none;
    background    : #ff6262;
    border        : none;
    color         : white;
    padding       : 3px 8px;
    letter-spacing: 2px;
    font-weight   : 300;
    border-radius : 5px;
    transition    : 0.3s;
    box-shadow    : 2px 2px 0 #c77474;

    &:hover {
      transform : translate(2px, 2px);
      background: #ff7e7e;
    }
  }

  table.userinfo {
    margin         : 2vh 0 3vh 0;
    border-collapse: separate;
    border-spacing : 0;
    width          : 100%;
    border         : 1px solid #96c7ff;
    padding        : 1vh 1vw;
    background     : white;
    box-shadow     : 3px 3px 0 #96c7ff;
    background     : #ffffffa3;

    tr th {
      text-align : center;
      font-size  : 1.2em;
      font-weight: 500;
      padding    : 5px 0;
      color      : white;
      background : rgb(150, 199, 255);
    }

    tr td {
      letter-spacing: 1.5px;
      font-size     : 1.1em;
      padding       : 10px 5px;
      border-bottom : 1px solid rgb(150, 199, 255);

      &:last-child {
        text-align: left;
      }
    }
  }

  a {
    text-decoration: none;
  }

  button {
    display        : block;
    margin         : 0 auto;
    width          : 150px;
    line-height    : 30px;
    background     : $text_primary;
    text-align     : center;
    position       : relative;
    text-decoration: none;
    color          : #fff;
    font-size      : 16px;
    font-weight    : 500;
    text-transform : uppercase;
    letter-spacing : 2px;
    border         : none;

    &:hover {
      background: $light_primary;
    }





  }

  .finish h2 i {
    color: #3aa20b;
    font-size: 2em;
  }
}

@media all and (max-width: 767px) {
  .checkcontent {
    width    : 98%;
    max-width: 675px;

    table.ordertable tr td:first-child {
      flex-direction: column;

      img {
        width: 120px;
      }

      p {
        margin   : 0;
        font-size: 1em;
      }
    }

    table tr:not(:last-child) td {
      min-height: 150px;
    }

    button {
      margin: 1vh auto;
    }
  }
}

@media all and (max-width: 1259px) and (min-width: 768px) {
  .checkcontent {
    width    : 98%;
    max-width: $width_sm;

    table tr th {
      width: 40%;
    }

    table tr td:first-child {
      flex-wrap: wrap;
    }
  }
}