@import "../utils/_variables";

.imgbox {

  min-height: calc(100vh - 100px);
  text-align: center;
  position  : relative;

  img {
    margin-top: 20vh;
  }

  a {
    display        : block;
    margin         : 1vh auto;
    text-decoration: none;
    background     : #95e0ff;
    width          : 100px;
    padding        : 5px 0;
    border-radius  : 5px;
    letter-spacing : 1.5px;
    font-size      : 1.2em;
    color          : white;
    box-shadow     : 2px 2px 0 #83c5e2;
    transition     : 0.3s;

    &:hover {
      background: #a5e4ff;
      box-shadow: 2px 2px 0 transparent;
      transform : translate(1px, 1px);
    }
  }

  @media all and (max-width:768px) {
    img {
      width    : 100%;
      max-width: 500px;
    }
  }
}