.contain {
	width     : 1240px;
	margin    : 85px auto 0 auto;
	min-height: calc(100vh - 180px);
}

.list {
	display        : flex;
	justify-content: space-between;
	flex-wrap      : wrap;

	a {
		text-decoration: none;
	}

	>h2 {
		margin        : 5vh 0 1vh 0;
		text-align    : left;
		letter-spacing: 2px;
		width         : 100%;
		font-size     : 2.2em;
		font-weight   : 500;
		color         : #0c6eb3;

		span {
			font-size: 1.4em;
		}

	}

	.productCard {
		margin  : 1.5vh 0vw;
		width   : 300px;
		position: relative;
	}


	a.continue {
		display          : block;
		position         : relative;
		font-size        : 2.5em;
		letter-spacing   : 1.5px;
		font-weight      : 500;
		color            : rgb(177, 177, 177);
		cursor           : pointer;
		min-height       : 200px;
		width            : 300px;
		// width         : fit-content;
		border           : 1px solid rgb(214, 214, 214);
		margin           : 1.5vh 0vw;

		&:hover {
			background: rgb(246, 246, 246);
		}

		span {
			display   : block;
			text-align: center;
			position  : absolute;
			top       : 50%;
			left      : 50%;
			width     : 100%;
			transform : translate(-50%, -50%);
		}
	}


	.empty {
		margin-top: 5vh;
		width     : 100%;
		text-align: center;
	}

	.empty img {
		width: 800px;
	}

	.empty h3 {
		font-weight: 600;
		font-size  : 1.6em;

		span {
			padding: 0 10px;
			border : 3px solid black;
		}
	}

	.empty p {
		margin        : 2vh 0;
		font-weight   : 400;
		letter-spacing: 1.5px;
		font-size     : 1.2em;

		span {
			padding: 0 1vw;
		}
	}

	.empty .link {
		width     : 100%;
		text-align: center;
	}

	.empty .link a {
		font-size    : 1.2em;
		color        : #0c6eb3;
		font-weight  : 500;
		border-bottom: 1px solid #0c6eb3;
	}

	.previewbox {
		z-index: 999;
	}

	.previewbox .dialogBg {
		left      : 0;
		top       : 0;
		height    : 100vh;
		width     : 100%;
		z-index   : 99;
		position  : fixed;
		background: #8c8c8c75;
	}

	.previewbox .dialog {
		position     : fixed;
		left         : 50%;
		top          : 45%;
		padding      : 5vh 1vw 2vh 1vw;
		border-radius: 5px;
		transform    : translate(-50%, -50%);
		width        : 400px;
		background   : white;
		box-shadow   : 6px 6px 15px #5656563d;
		z-index      : 1200;
	}

	.previewbox .dialog>i {
		position     : absolute;
		right        : 2%;
		top          : 2%;
		cursor       : pointer;
		padding      : 5px 8px;
		font-size    : 1.2em;
		border-radius: 100%;
		color        : rgb(68, 68, 68);
		transition   : 0.3s;

		&:hover {
			background: rgb(238, 238, 238);
		}
	}
}

@media all and (max-width: 767px) {
	.contain {
		width    : 100%;
		max-width: 675px;

		.list {
			justify-content: center;
		}



		.list .productCard {
			width : 300px;
			margin: 1vh 1vw;
		}

		.list .previewbox .dialog {
			width: 95%;
			top  : 55%;
		}

		.list .empty img {
			width: 100%;
		}
	}
}

@media all and (max-width: 1259px) and (min-width: 768px) {
	.contain {
		width    : 90%;
		max-width: 1024px;

		.list .empty img {
			width: 100%;
		}
	}
}